<div id="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
  <section id="filtersSection">
    <div id="filtersHiddenPanel">
      <h1 id="appTitle">Recuitment task</h1>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="submitForm()"
      novalidate
      id="filtersForm"
    >
      <section id="markersCheckboxes">
        <div id="vehiclesCheckboxContainer" class="markersCheckboxContainer">
          <input
            type="checkbox"
            name="Vehicles"
            id="vehiclesCheckbox"
            class="markersCheckbox"
            formControlName="showVehiclesCheckbox"
          />
          <label for="vehiclesCheckbox">Vehicles</label>
        </div>
        <div id="poisCheckboxContainer" class="markersCheckboxContainer">
          <input
            type="checkbox"
            name="POIs"
            id="poisCheckbox"
            class="markersCheckbox"
            formControlName="showPOIsCheckbox"
          />
          <label for="poisCheckbox">POIs</label>
        </div>
        <div id="parkingsCheckboxContainer" class="markersCheckboxContainer">
          <input
            type="checkbox"
            name="Parkings"
            id="parkingsCheckbox"
            class="markersCheckbox"
            formControlName="showParkingsCheckbox"
          />
          <label for="parkingsCheckbox">Parkings</label>
        </div>
      </section>
      <section id="vehiclesFilters">
        <h1>Vehicles filters</h1>
        <div id="availableVehiclesContainer">
          <input
            type="checkbox"
            name="Available only"
            id="availableVehiclesCheckbox"
            class="availableVehiclesFiltersCheckbox"
            formControlName="availableVehiclesOnlyCheckbox"
          />
          <label for="availableVehiclesCheckbox">Available only</label>
        </div>
        <div id="minimalRangeContainer">
          <input
            type="number"
            name="Minimal range"
            id="minimalRange"
            placeholder="Minimal range"
            formControlName="minimalRangeInput"
          />
          <label for="minimalRange">km</label>
        </div>
        <button type="submit" id="submitButton">Apply</button>
      </section>
    </form>
  </section>
</div>
